<!--<nav class="navbar navbar-default">
  <div class="container">
    &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Minor Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Local Doctor</a></li>
      <li><a href="#">Expert Doctor Doctor</a></li>
    </ul>
  </div>
</nav>

<h1 class="page-header container">Phalan Dhekan Aspatal</h1>-->
<router-outlet></router-outlet>

