<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Minor Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Local Doctor</a></li>
      <li><a href="#">Expert Doctor Doctor</a></li>

    </ul>
  </div>
</nav>

<h1 class="page-header container">Phalan Dhekan Aspatal</h1>
<header>
  <button (click)="logout()" class="basic-btn">Logout</button>
</header>




<ul class="list-group container">
  <li class="list-group-item"> {{(items | async)?.message}} </li>
</ul>

<div class="container">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()" class="btn btn-default">Update</button>
</div>
<br>
<br>
<br>
